@media only screen and (max-width: 991px) {
	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    	line-height: 1;
    	height: 400px;
	}
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
	width: 100%;
}


