@import url('headerFooter.css');
@import url('treeStructure.css');

.headdingMargin {
    margin-top: 85px;
    margin-bottom: 35px;
}

@media only screen and (max-width: 767px) {
    .headdingMargin {
        margin-top: 60px;
    }
}
