@import url('headerFooter.css');
@import url('backVideo.css');
@import url('dancetypes.css');
@import url('ourStory.css');

.zIndexer {
    z-index: 10;
    position: relative;
    background-color: #fff;
}
