@import url('headerFooter.css');
@import url('backVideo.css');
@import url('danceTypes.css');
@import url('ourStory.css');
@import url('mobimg.css');
.zIndexer {
    z-index: 10;
    position: relative;
    background-color: #fff;
}
