.col-sm-4 {
  padding: 0px;
}

.wrapperDiv {
  margin-top: 50px;
  height: 400px;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  background-color: black; 
  background-image: url("../images/city.png");
  background-position: center;
  background-size: cover;
  transition: all .5s;
}

.wrapperDiv:hover .content {
  transform: scale(1.2);
}

.content::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
}

.wrapperDiv:hover .content:before, .wrapperDiv:hover a{
  display: block;
}

.servicesText {
  color: #FFF;
  font-size: 43px;
  text-align: center;
  padding-top: 70px;
}

.content a {
    display: none;
    font-size: 16px;
    color: salmon;
    position: absolute;
    bottom: 50px;
    right: 60px;
    color: salmon;
    background-color: #FFF;
    padding: 10px 15px;
    animation: animate 1s linear;
}

@keyframes animate {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(10px); 
  }
}




@media only screen and (min-width: 768px) and (max-width:991px){
  .wrapperDiv{
    height: 350px;
  }
}

@media only screen and (max-width: 767px){
  .wrapperDiv{
    height: 300px;
  }
}

@media only screen and (max-width: 480px) {
  .servicesText {
    font-size: 30px;
  }
}
