.links {
	padding: 50px 0;
}
.outerDiv{
padding: 0;
position: relative;
}
.outerDiv img{
width: 100%;
display: block;
}

.outerDiv:hover .overlay{
display: block;
}

.overlay{
display: none;
height: 100%;
width: 100%;
top: 0;
left: 0;
position: absolute;
text-align: center;
background-color: rgba(0,0,0,0.4);
}
.overlay a{
position: absolute;
bottom: 20px;
right: 30px;
background-color: #fff;
padding: 10px;
font-size: 20px;
}
